@font-face {
  font-family: "SCDream2";
  src: url("../fonts/SCDream2.otf") format("opentype");
}
@font-face {
  font-family: "SCDream4";
  src: url("../fonts/SCDream4.otf") format("opentype");
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2c3e50;
  padding: 15px 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 13pt;
  transition: color 0.3s, border-bottom 0.3s;
  font-family: "SCDream2", sans-serif;
  padding: 5px 30px;
}

.header a:hover,
.dropdown.hover > a {
  color: #fcfafa;
  background-color: rgba(0, 0, 0, 0.4);
}

.header a.active {
  border-bottom: 2px solid #1abc9c;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  padding: 10px 0px !important;
}

.dropdown-menu li {
  padding: 5px 15px;
  white-space: nowrap;
}

.dropdown-menu li a {
  color: #333;
  font-family: "SCDream4", sans-serif;
}

.dropdown-menu li a:hover {
  background-color: #cccccc;
  color: #161616;
}
