@font-face {
  font-family: "SCDream5";
  src: url("../fonts/SCDream5.otf") format("opentype");
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin-top: -45px;
}
.fade-in-text-title {
  line-height: 1.6;
}
.fade-in-text {
  animation: fadeIn 1s ease-in-out;
  line-height: 1.2;
  font-size: 15pt;
  color: #888;
  font-family: "SCDream5", sans-serif;
}
.fade-in-text p {
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
