.projects-section {
  padding: 40px 20px;
  text-align: center;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
}

.project-content {
  display: flex;
  width: 100%;
}

.project-left,
.project-right {
  flex: 1;
  padding: 20px;
}

.project-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slider {
  position: relative;
  display: flex;
  align-items: center;
}

.project-image {
  width: 500px;
  height: 400px;
  object-fit: contain;
  background-color: #f0f0f0;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
}

.prev-button {
  left: -30px;
}

.next-button {
  right: -30px;
}

.project-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.site-button,
.github-button,
.detail-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.site-button:hover,
.github-button:hover,
.detail-button:hover {
  background-color: #e71046;
}
