.projects-section {
  text-align: left;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
}

.project-header {
  text-align: center;
  margin-bottom: 20px;
}

.project-date {
  margin-bottom: 20px;
}

.project-content {
  display: flex;
  width: 100%;
  margin: 40px;
}

.project-left,
.project-right {
  flex: 1;
  padding: 20px;
}

.project-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slider {
  position: relative;
  display: flex;
  align-items: center;
}

.project-image {
  width: 500px;
  height: 800px;
  object-fit: contain;
  object-position: center;
  background-color: #f0f0f0;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
}

.prev-button {
  left: -30px;
}

.next-button {
  right: -30px;
}

.project-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.image-counter {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -25px;
  width: 100%;
}

.github-link {
  text-decoration: none;
  color: #007acc;
  transition: color 0.3s;
}

.github-link:hover {
  color: #005f99;
}
